<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>Listado de Comidas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/solid.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/brands.min.css}" />
  </head>
  <body>
    <div class="container-admin">
      <main>
        <div class="d-flex p-0 w-100">
          <div class="col-md-2 p-0">
            <div th:insert="fragments :: navbar"></div>
          </div>
          <div class="col-md-10 p-0">
            <header class="d-flex py-3 justify-content-end bg-orange">
              <div class="d-flex pe-3">
                <a th:href="@{/logout}" class="text-white px-3"
                  >Cerrar sesión</a
                >
              </div>
            </header>
            <div class="col" style="overflow: auto">
              <div class="m-3">
                <div class="d-flex justify-content-between">
                  <h5 class="text-start py-2 text-dark">Editar receta</h5>
                </div>
                <div class="bg-white p-3">
                      <form id="imageForm" enctype="multipart/form-data">
                          <div class="mb-3">
                              <label for="image" class="form-label">Seleccionar imagen</label>
                              <input type="file" class="form-control" id="image" name="image" accept="image/*" required />
                          </div>
                          <div class="mb-3">
                              <button type="submit" class="btn btn-success">Subir imagen</button>
                          </div>
                      </form>

                      <form id="comidaForm">
                        <div class="mb-3">
                          <label for="receta" class="form-label">Nombre de la
                            receta</label>
                          <input type="text" class="form-control" id="receta"
                            name="nombre" placeholder="Nombre de la receta" />
                        </div>
                        <div
                          class="d-flex justify-content-between mb-3 gap-2 align-items-center">
                          <div class="mb-3 w-50">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-select" name="tipo" id="tipoSelect">
                              <option value="DESAYUNO">DESAYUNO</option>
                              <option value="ALMUERZO">ALMUERZO</option>
                              <option value="CENA">CENA</option>
                            </select>
                          </div>
                          <div class="mb-3 w-50">
                            <label for="categoria"
                              class="form-label">Categoría</label>
                            <select class="form-select" name="categoria"
                              id="categoriaSelect">
                              <!-- Opciones de categorías -->
                            </select>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="ingredientes"
                            class="form-label">Ingredientes</label>
                          <textarea class="form-control" id="ingredientes"
                            name="ingredientes" rows="5"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="preparacion"
                            class="form-label">Preparación</label>
                          <textarea class="form-control" id="preparacion"
                            name="preparacion" rows="6"></textarea>
                        </div>
                        <div class="mb-3">
                          <button type="submit"
                            class="btn btn-success">Guardar</button>
                        </div>
                      </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div> 
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        fetch('/categoria/find/all') // Ajusta esta URL según tu configuración de la API
        .then(response => response.json())
        .then(data => {
          const categoriaSelect = document.getElementById('categoriaSelect');
    
          data.forEach(categoria => {
            const option = document.createElement('option');
            option.value = categoria.id;
            option.textContent = categoria.nombre; // Ajusta según el nombre de la propiedad en tu API
            categoriaSelect.appendChild(option);
          });
        })
        .catch(error => console.error('Error al cargar las categorías:', error));



        // Obtener el ID de la comida desde la URL
        const urlParams = new URLSearchParams(window.location.search);
        const comidaId = urlParams.get('id');
        
        if (comidaId) {
          // Realizar la solicitud GET para obtener los datos de la comida
          fetch(`/comida/find/${comidaId}`)
            .then(response => response.json())
            .then(data => {
              // Llenar el formulario con los datos obtenidos
              document.getElementById('receta').value = data.nombre;
              document.getElementById('ingredientes').value = data.ingredientes;
              document.getElementById('preparacion').value = data.preparacion;

              const categoriaSelect = document.querySelector('select[name="categoria"]');
              categoriaSelect.value = data.categoria.id;
              const tipoSelect = document.querySelector('select[name="tipo"]');
              tipoSelect.value = data.tipo;

            })
            .catch(error => console.error('Error:', error));
        }
      });

      document.getElementById('imageForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const comidaId = new URLSearchParams(window.location.search).get('id');

        var formData = new FormData();
        var fileField = document.querySelector('input[type="file"]');

        formData.append('image', fileField.files[0]);

        fetch(`/comida/image/upload/${comidaId}`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
          Swal.fire({
            title: 'Imagen subida exitosamente',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            // Redirigir a la página de lista de usuarios o cualquier otra página
            window.location.href = '/admin/comida';
          });
        })
        .catch(error => {
          Swal.fire({
            title: 'Imagen subida exitosamente',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            // Redirigir a la página de lista de usuarios o cualquier otra página
            
          });
           
        });
    });


      document.getElementById('comidaForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar que el formulario se envíe automáticamente
    
        // Obtener el ID de la comida a actualizar (suponiendo que lo obtienes de alguna manera)
        const comidaId = new URLSearchParams(window.location.search).get('id');
    
        // Obtener los valores actualizados del formulario
        const nombre = document.getElementById('receta').value;
        const tipo = document.querySelector('select[name="tipo"]').value;
        const categoria = document.querySelector('select[name="categoria"]').value;
        const ingredientes = document.getElementById('ingredientes').value;
        const preparacion = document.getElementById('preparacion').value;
    
        // Construir el objeto con los datos actualizados
        const comidaData = {
            id: comidaId,
            nombre: nombre,
            tipo: tipo,
            categoria: categoria,
            ingredientes: ingredientes,
            preparacion: preparacion
        };
    
        // Enviar la solicitud PUT (actualización)
        fetch(`/comida/update/${comidaId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(comidaData)
        })
        .then(response => {
          if (response.ok) {
            Swal.fire({
              title: 'Receta actualizada exitosamente',
              icon: 'success',
              confirmButtonText: 'OK'
            }).then(() => {
              // Redirigir a la página de lista de usuarios o cualquier otra página
              window.location.href = '/admin/comida';
            });
          } else {
            Swal.fire({
              title: 'Receta actualizada exitosamente',
              icon: 'success',
              confirmButtonText: 'OK'
            }).then(() => {
              // Redirigir a la página de lista de usuarios o cualquier otra página
              window.location.href = '/admin/comida';
            });
          }
        })
        .catch(error => console.error('Error:', error));
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
