<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>Listado de Comidas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/solid.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/brands.min.css}" />
  </head>
  <body>
    <div class="container-admin">
      <main>
        <div class="d-flex p-0 w-100">
          <div class="col-md-2 p-0">
            <div th:insert="fragments :: navbar"></div>
          </div>
          <div class="col-md-10 p-0">
            <header class="d-flex py-3 justify-content-end bg-orange">
              <div class="d-flex pe-3">
                <a th:href="@{/logout}" class="text-white px-3"
                  >Cerrar sesión</a
                >
              </div>
            </header>
            <div class="col">
              <div class="m-3">
                <div class="d-flex justify-content-between">
                  <h5 class="text-start py-2 text-dark">Listado de recetas</h5>
                  <p><a href="comida/crear" class="btn btn-primary"><i class="fa fa-plus me-2"></i>Nuevo</a></p>
                </div>
                <div class="bg-white table-responsive p-2">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th class="text-center">Imagen</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Categoría</th>
                        <th class="w-25 text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody id="comidaTabla">
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
 
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          fetch('/comida/find/all')  // Ajusta la ruta según tu API
              .then(response => response.json())
              .then(data => {
                  const comidaTableBody = document.getElementById('comidaTabla');
                  comidaTableBody.innerHTML = ''; // Limpiar contenido previo
                  
                  data.forEach(comida => {
                      const row = document.createElement('tr');

                      row.innerHTML = `
                          <td>${comida.id}</td>
                          <td>${comida.nombre}</td>
                          <td class="text-center"></td>
                          <td class="text-center">${comida.tipo}</td>
                          <td class="text-center">${comida.categoria.nombre}</td>
                          <td class="w-25 text-center">
                              <a href="comida/update?id=${comida.id}" class="btn btn-primary">Editar</a>
                              <button class="btn btn-danger" onclick="deleteComida(${comida.id})">Eliminar</button>
                              
                          </td>
                      `;

                      comidaTableBody.appendChild(row);
                  });
              })
              .catch(error => console.error('Error:', error));
      });

      function deleteComida(id) {
        Swal.fire({
          title: '¿Estás seguro?',
          text: "¡No podrás revertir esto!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, eliminarlo!',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`/comida/delete/${id}`, {
              method: 'DELETE'
            })
            .then(response => {
              if (response.ok) {
                Swal.fire(
                  'Eliminado!',
                  'La receta ha sido eliminada.',
                  'success'
                ).then(() => {
                  // Recargar la tabla de comidas
                  location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'Hubo un problema al eliminar la receta.',
                  'error'
                );
              }
            })
            .catch(error => {
              console.error('Error:', error);
              Swal.fire(
                'Error!',
                'Hubo un problema al eliminar la comida.',
                'error'
              );
            });
          }
        });
      }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
