<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>Listado de Comidas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/solid.min.css}" />
    <link rel="stylesheet" th:href="@{/fontawesome/css/brands.min.css}" />
  </head>
  <body>
    <div class="container-admin">
      <main>
        <div class="d-flex p-0 w-100">
          <div class="col-md-2 p-0">
            <div th:insert="fragments :: navbar"></div>
          </div>
          <div class="col-md-10 p-0">
            <header class="d-flex py-3 justify-content-end bg-orange">
              <div class="d-flex pe-3">
                <a th:href="@{/logout}" class="text-white px-3"
                  >Cerrar sesión</a
                >
              </div>
            </header>
            <div class="col" style="overflow: auto">
              <div class="m-3">
                <div class="d-flex justify-content-between">
                  <h5 class="text-start py-2 text-dark">Editar rol</h5>
                </div>
                <div class="bg-white p-3">
                  <form id="editarFormulario">
                    <div class="mb-3">
                      <label for="rol" class="form-label"
                        >Nombre del rol</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="rol"
                        name="rol"
                        placeholder="Nombre del rol"
                      />
                    </div>
                    <div class="my-3">
                      <button type="submit" class="btn btn-success">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Obtener el parámetro id de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');

        if (id) {
            fetch(`/rol/find/${id}`)
                .then(response => response.json())
                .then(data => {
                    // Llenar el formulario con los datos recibidos
                    document.getElementById('rol').value = data.nombre;
          
                })
                .catch(error => console.error('Error:', error));
        }

         // Manejar el envío del formulario
         document.getElementById('editarFormulario').addEventListener('submit', function(event) {
          event.preventDefault();
          
          const rol = document.getElementById('rol').value;

          fetch(`/rol/update/${id}`, {
              method: 'PUT',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ nombre: rol })
          })
          .then(response => {
            

              if (response.ok) {
                Swal.fire({
                  title: 'Rol editado exitosamente',
                  icon: 'success',
                  confirmButtonText: 'OK'
                }).then(() => {
                  // Redirigir a la página de lista de usuarios o cualquier otra página
                  window.location.href = "/admin/rol"; // Redirige a la página de éxito
                });
              } else {
                  // Manejar errores de la solicitud
                  alert('Error al actualizar el rol');
              }
          })
          .catch(error => console.error('Error:', error));
      });

    });



    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
