.container-login {
    background: rgb(195, 30, 4) !important;
    background: linear-gradient(
      151deg,
      rgba(195, 30, 4, 1) 0%,
      rgba(251, 85, 48, 1) 100%
    ) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
  }
  .container-login .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.base-login{
    border-radius: 5px;
    background-color: #F6F8F9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.login{
    padding: 30px 40px;
}
.login .logo img{
    width: 100%;
}

.login label{
    font-weight: 600;
    margin-bottom: 7px;
}
