<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--NAVBAR-->
    <div th:fragment="navbar" class="bg-dark" style="height: 100vh">
      <div class="bg-orange text-center py-3">
        <a href="/home">
          <img th:src="@{/images/logo_v2.png}" style="width: 150px" alt="" />
        </a>
      </div>
      <h6 class="fw-bold text-white bg-secondary p-2 text-center">
        ADMINISTRACIÓN
      </h6>
      <ul class="list-unstyled ps-3">
        <li>
          <p class="text-secondary py-2 m-0">WEBSITE</p>
        </li>
        <li>
          <a
            href="/admin/comida"
            class="p-2 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center fs-6 text-white"
            >Recetas<i class="fas fa-utensils me-2"></i
          ></a>
        </li>
        <li>
          <a
            href="/admin/categoria"
            class="p-2 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center fs-6 text-white"
          >
            Categorías <i class="fas fa-layer-group me-2"></i
          ></a>
        </li>
        <!-- <li>
          <a
            href="/admin/tipo"
            s
            class="p-2 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center fs-6 text-white"
            >Tipos <i class="fas fa-layer-group me-2"></i
          ></a>
        </li> -->
        <li>
          <p class="text-secondary py-2 m-0">MANTENIMIENTO</p>
        </li>
        <li>
          <a
            href="#"
            class="p-2 mb-2 border-bottom border-secondary d-flex justify-content-between align-items-center fs-6 text-white"
            >Seguridad <i class="fa fa-gear me-2"></i
          ></a>
        </li>
        <ul class="p-0 m-0">
          <li>
            <a
              href="/admin/usuario"
              class="d-flex align-items-center p-2 mb-2 text-white bg-gray"
              ><i class="fa fa-user me-2"></i>Usuarios</a
            >
          </li>
          <li>
            <a
              href="/admin/rol"
              class="d-flex align-items-center p-2 mb-2 text-white bg-gray"
              ><i class="fa fa-key me-2"></i>Roles</a
            >
          </li>
        </ul>
      </ul>
    </div>
  </body>
</html>
