<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Comidas</title>
</head>
<body>
    <h1>AQUI ES EL FORMULARIO DEL LOGIN</h1>
    <p>se pide un nombre de usuario</p>
    <p>se pide una contraseña, que se oculte con puntitos xd</p>
    <p>aqui se podran registrar SOLO los usuarios comunes</p>
    <p>el administrador ya estará previamente creado asi como su usuario y contraseña</p>
    <p>automaticamente despues de haberse logueado(usuario o administrador), a todos los usuarios debe llevarle al index principal donde se puede visualizar todas las recetas</p>
</body>
</html>